.cp-data-card {
    box-shadow: 0px 0px 11px var(--shadow-color);
    padding: 24px;
    display: flex;
    width: calc(100% - 72px);
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cp-data-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
    height: 50vh;
    overflow: auto;
    padding: 48px 0px 48px 0px;

}

.cp-card-btns button {
    background: none;
    border: none;
}

.cp-card-btns img {
    height: 28px;
}

.cp-card-btns {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.cphelpreq-form,
.update-site-settings-form {
    background-color: rgb(255, 255, 255);
    padding: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.update-site-settings-form {
    display: flex;
    gap: 24px;
    min-width: 300px;
    text-align: center;
}

.cpupdate-inputs {
    border: 1px solid var(--shadow-color);
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    width: 90%;
}

.cphelpreq-form {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 11px var(--shadow-color);
}

.cphelp-form-close {
    display: flex;
}

.editors-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 24px;
    gap: 12px;
    justify-content: space-around;
}

.editors-btns button {
    background: none;
    padding: 6px 24px 6px 24px;
    border-radius: 6px;
    border: solid 1px var(--shadow-color);
}

div.DraftEditor-root {
    border: 2px solid var(--shadow-color);
    min-height: 200px;
    border-radius: 12px;
    width: 99.5% ;
    overflow: auto;
}

.cp-form-inputs{
    min-width: 300px;
}