.faq-page {
    width: 100vw;
    min-height: 100vh;
    color: var(--color-darkslategray);
    position: relative;
    z-index: 0;
}

.faq-banner{
    padding-top: 104px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.faq-content,
.faq-card,
.faq-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content {
    gap: 12px;
    width: 100%;
    padding-top: 100px;
}

.faq-card button {
    background: none;
    border: none;
    color: var(--color-darkslategray);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;

}

.faq-card {
    color: var(--color-darkslategray);
    text-align: center;
    padding: 24px;
    gap: 12px;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid var(--shadow-color)
}

.faq-card-content {
    display: none;
}

.pages-links{
    text-decoration: none;
    color: var(--color-1);
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 1080px) {
    .faq-content {
        width: 100%;
    }

    .faq-card {
        width: calc(100% - 72px);
        text-align: center;
        border-radius: 12px;
        gap: 48px;
        border: 1px solid var(--shadow-color)
    }
}

@media only screen and (min-width: 1080px) {
    .faq-content {
        width: 60%;
    }

    .faq-card {
        width:60%;
    }
}