.logo-1-icon {
  height: 42px;
  width: 42px;
  position: relative;
  object-fit: cover;
}

.component-1-child,
.component-1-inner,
.component-1-item {
  position: absolute;
  height: 20%;
  width: 75%;
  top: 0;
  right: 25%;
  bottom: 80%;
  left: 0;
  border-radius: var(--br-80xl);
  background-color: var(--color-1);
  overflow: hidden;
}

.component-1-inner,
.component-1-item {
  width: 100%;
  top: 40%;
  right: 0;
  bottom: 40%;
}

.component-1-inner {
  width: 87.5%;
  top: 80%;
  right: 12.5%;
  bottom: 0;
}

.component-1 {
  height: 25px;
  width: 40px;
  position: relative;
  transform: rotate(180deg);
  display: none;
  cursor: pointer;
}

.deme-kantlar {
  position: relative;
  display: inline-block;
  min-width: 110px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-darkslategray);
}

.deme-kantlar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
}

.deme-kantlar1 {
  position: relative;
  display: inline-block;
  min-width: 110px;
}

.deme-kantlar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 28px;
  min-width: fit-content;
  text-align: center;
  padding: 6px 12px;
}

.deme-kantlar-container:hover{
  background-color: var(--shadow-color);
}

.icons8-login-50-1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}

.giri-yap {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 70px;
  text-decoration: none;
}

.bar-btn,
.giri-yap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}

.bar-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 16px var(--padding-5xs) var(--padding-xs);
  background-color: var(--color-1);
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.icons8-user-48-1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}

.kayt-ol {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}

.kayt-ol-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}

.bar-btn1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs) var(--padding-xs);
  background-color: var(--color-1);
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: flex-end;
  text-decoration: none;
  gap: var(--gap-7xs);
}

.bar-btn1,
.button-bar,
.frame-parent-top {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.button-bar {
  flex: 1;
  align-items: flex-end;
  gap: 12px;
}

.frame-parent-top {
  align-self: stretch;
  align-items: flex-end;
  gap: 24px;
}

.top-bar,
.top-bar-inner {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.top-bar-inner {
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  padding: 1px 0 0;
  max-width: 100%;
}

.top-bar {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-5xl) var(--padding-lgi) var(--padding-xs);
  line-height: normal;
  letter-spacing: normal;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}

.top-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color-white);
}

@media screen and (min-width: 900px) {
  .menu-btn {
    display: none;
  }

  .top-bar {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .top-bar-inner {
    display: none;
  }

  .top-bar {
    width: 100%;
  }

  .menu-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
  }

  .menu-ico {
    height: 100%;
    width: 100%;
  }
}
